<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ToDoList</title>
      {% load static  %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css" >
    <link rel ="stylesheet" href="{% static 'css/todo.css'%}">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
   <header>
<div class = "title">To Do</div>
  </header>

 <p></p>
  <div class="container1">
    {% block content %}
    {% endblock content %}
  </div>
   <br>
<div class="footer">
    <h6 align="center" style="margin-top: 20px; font-size: 18px; color: white; font-family: 'Century Gothic'">&copy;  All right reserved 2021</h6>
</div>
</body>
</html>